<div class="w-100 d-flex flex-column">
  <div class="w-100 d-flex justify-content-center">
    <h1 id="contact">Elérhetőségeink</h1>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <p>ktsekarate@gmail.com</p>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <p>Tranger Szilvia - +36203956542</p>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <a href="https://www.instagram.com/ktsekarate/">Instagram <i class="fa fa-instagram ft60 clr-prl"></i></a>
  </div>
</div>
