<div class="w-100 d-flex flex-column">
  <div class="w-100 d-flex justify-content-center">
    <h1 id="trainings">Edzések</h1>
  </div>
  <p>Edzéseinket mindenki látogathatja, kortól és képzettségtől függetlenül, két helyszínen, több időpontban tartjuk.</p>
  <div class="w-100 d-flex">
    <div class="w-50 card bs">
      <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10803.902841118334!2d18.9878158!3d47.3929068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741e6ec241d1d3d%3A0x3f00154310bf2e6a!2sCultural%20Center%20Cziffra%20Gy%C3%B6rgy!5e0!3m2!1sen!2shu!4v1694941564711!5m2!1sen!2shu"
          width="100%"
          height="200rem"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      <div class="card-body">
        <h5 class="card-title">Gyermekeknek a Czifra közösségi térben</h5>
        <h6 class="card-text">Gyermek</h6>
        <p class="card-text">
          Kedd 16:30-17:30
        </p>
      </div>
    </div>
    <div class="w-50 card bs">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10796.832853231414!2d19.027790677923885!3d47.42738323878066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741e79c790e31fb%3A0x7a20fc7f7e006b8b!2sKossuth%20Lajos%20Hungarian-English%20Bilingual%20Primary%20School!5e0!3m2!1sen!2shu!4v1694941824555!5m2!1sen!2shu"
        width="100%"
        height="200rem"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="card-body">
        <h5 class="card-title">Minden korcsoportnak a Kossuth Lajos Általános Iskolában</h5>
        <h6 class="card-text">Kezdő</h6>
        <p class="card-text">
          Hétfő, Csütörtök 16:30-17:30
        </p>
        <h6 class="card-text">Haladó</h6>
        <p class="card-text">
          Hétfő, Csütörtök 16:30-18:00
        </p>
        <p>
          Haladó edzéseinket csoportbontásban, a kezdő edzésekkel egy időben tartjuk fél órával hosszabb időtartamban.
        </p>
      </div>
    </div>
  </div>
</div>
