
<div class="d-flex flex-column">
  <div class="w-100 d-flex justify-content-center">
    <h1 id="about">Rólunk</h1>
  </div>

  <p>Hello!</p>
  <p>Mi vagyunk a mi, es karatet csinalunk. Foleg gyerekeknek, de amugy mindenkinek is.</p>
  <p>Amennyiben erdekel a karate, gyere le es nezd meg mit csinalunk meg hogy.</p>
  <p>Az elso alkalom ingyenes, probald ki magad, meglatod tetszik e vagy sem.</p>

  <img class="bs main-img" style="max-width: 100%;" src="/KTSE/assets/images/group_summer.jpg"/>

  <div class="w-100 d-flex flex-column">
    <div class="mt-5 d-flex justify-content-center">
      <h2>Edzők</h2>
    </div>

    <div class="m-2 d-flex justify-content-center">
      <div class="trainer-desc">
        <h3>Tranger Szilvia</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
        <div class="vr trainer-vr"></div>
      <img class="bs trainer-img" src="/KTSE/assets/images/szilvi_cropped.png"/>
    </div>

    <div class="m-2 d-flex justify-content-center">
      <img class="bs trainer-img" src="/KTSE/assets/images/Balazs_cropped.jpg"/>
      <div class="vr trainer-vr"></div>
      <div class="trainer-desc">
        <h3>Döme Balázs</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>

    <div class="m-2 d-flex justify-content-center">
      <div class="trainer-desc">
        <h3>Ratkovszki István</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
        <div class="vr trainer-vr"></div>
      <img class="bs trainer-img" src="/KTSE/assets/images/isor_cropped.png"/>
    </div>

  </div>
</div>
